<!DOCTYPE html>
<html lang="es">
<%- include('partes/head') %>
<body>
<%-include('partes/header') %>
<div class="container ">
    <div class="d-flex mh-0 ph-0">
        <div id="mainDiv" class=" ">
            <h1><%= nombre %></h1>
            
            <% for (let user : <%=inscritos>) {>
                <div class="d-flex flex-row">
                    <div class="">
                        <p>Usuario:<%=user.nombre%></p>
                        <p>Estado: <%=user.esta_lista_espera%></p>
                        <p>Fecha Inscripcion: <%=user.fecha_inscripcion%></p>
                        <button onclick='removeUserFromEvent("<%=user.id%>")'>Eliminar Usuario</button>
                    </div>
                </div>
            <%}>
        </div>
    </div>
</div>
</body>
<script src="/javascripts/enrollInEvent.js"></script>
<script src="/javascripts/withdrawFromEvent.js"></script>
</html>