<!DOCTYPE html>
<html lang="es">
<link rel="stylesheet" type="text/css" href='/stylesheets/eventViewer.css'>
<%-include('partes/head') %>
<body>
<%-include('partes/header') %>
<div class="container m-0 p-0 w-100">
    <div class="row">
        <div class="col-2 range">
            <div id="priceSliderContainer" class="text-center border">
                <label for="priceSlider" class="w-100">Precio:</label>
                <input class="slider" type="range" min="0" max="<%=precio_maximo%>" id="priceSlider">
            </div>
            <div id="organizatorContainer" class="container w-100 border">
                <span>Organizadores: </span>
                <% organizators.forEach(res => {%>
                    <div id="<%=res.nombre%>Container" class="w-100 row mx-2">
                        <div class="col-1">
                            <input type="checkbox" id="<%=res.nombre%>Input">
                        </div>
                        <div class="col-10">
                            <label for="<%=res.nombre%>Input"><%=res.nombre%></label>
                        </div>
                    </div>
                <%});%>
            </div>
            <div id="categoriesContainer" class="container w-100 border">
                <span>Categorias: </span>
                <% categories.forEach(category => {%>
                <div id="<%=category.nombre%>Container" class="w-100 row mx-2">
                    <div class="col-1">
                        <input type="checkbox" id="<%=category.nombre%>Input">
                    </div>
                    <div class="col-10">
                        <label for="<%=category.nombre%>Input"><%=category.nombre%></label>
                    </div>
                </div>
                <%});%>
            </div>
            <% if (es_organizador) {%>
            <div class="d-flex justify-content-center">
                <a href="/events/createEvent"><button id = "crearEventoBtn" class=" btn btn-primary m-2" > Crear nuevo evento</button></a>
            </div>
            <%}%>
        </div>
        <div class="col w-100 text-center justify-content-center align-items-center">
            <div class="container w-100 p-0 m-0">
                <% let counter = 0; %>
                <% let size = 0; %>
                <%if (eventos.length >= 3) size = 3%>
                <% eventos.forEach((event, index) => { %>
                    <% if (counter === 0) { %>
                    <div class="row">
                        <% } %>

                        <div class="col-4">
                            <div class="card mb-2">
                                <img class="card-img-top" src="/img/placeholderEvento.jpg">
                                <h5 class="card-title"><%= event.titulo %></h5>
                                <p class="card-text"><%=event.descripcion%></p>
                                <div class="card-subtitle text-body-secondary d-flex justify-content-between">
                                    <span class="px-4"><%= event.fecha.toLocaleDateString("es-ES") %></span>
                                    <span class="px-4"><%=  (event.ocupacion> event.capacidad_maxima)?event.capacidad_maxima:event.ocupacion  %>/<%= event.capacidad_maxima %></span>
                                </div>
                                <div class="align-items-center">
                                    <a href="<%= '/events/event/' + event.id %>" class="btn btn-info w-75 m-2">Ver más</a>
                                </div>

                            </div>

                        </div>

                        <% counter++; %>
                        <% if (counter === 3 || index === eventos.length - 1) { %>
                    </div>
                    <% counter = 0; %>
                    <% } %>
                <% }); %>
            </div>
        </div>
    </div>

</div>
</body>
</html>