<!DOCTYPE html>
<html lang="es">
    <%- include('partes/head') %>

    <body class="bg-light">
        <%- include('partes/header') %>
        <div id="loginDiv" class="container d-flex align-items-center justify-content-center my-4">
            <div id="mainDiv" class="card shadow-lg p-4" >
                <h1 class="text-center mb-4 ">Inicio de Sesión</h1>
                <form method="post" action="/users/login">
                    <!-- Correo -->
                    <div class="mb-3">
                        <label for="email" class="form-label fw-bold">Correo</label>
                        <input 
                            type="text" 
                            name="email" 
                            id="email" 
                            class="form-control" 
                            placeholder="example@ucm.es" 
                            required
                            <% if (typeof correo !== 'undefined' && correo) { %>
                            value=<%=correo%>
                            <% } %>
                            >
                    </div>

                    <!-- Contraseña -->
                    <div class="mb-3">
                        <label for="password" class="form-label fw-bold">Contraseña</label>
                        <div class="input-group">
                            <input 
                                type="password" 
                                name="contrasena" 
                                id="password" 
                                class="form-control" 
                                placeholder="Contraseña" 
                                required>
                            <button 
                                type="button" 
                                id="togglePassword" 
                                class="btn btn-outline-secondary">Mostrar</button>
                        </div>
                    </div>
                    <div class="fs-6 my-2"><a href="/users/cambiarContrasena">¿Has olvidado tu contraseña?</a></div>
                    <% if (typeof error !== 'undefined' && error) { %>
                        <div class="error-message fs-6 my-2" style="color: red;"><%= error %></div>
                    <% } %>

                    <!-- Botones -->
                    <div class="d-grid gap-2 mb-3">
                        <button id="login" type="submit" class="btn btn-primary">Iniciar Sesión</button>
                    </div>
                    <div class="text-center">
                        <a href="/users/register" class="text-decoration-none text-secondary">
                            ¿No tienes cuenta? <span class="fw-bold text-primary">Regístrate aquí</span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <%- include('partes/footer') %>
    </body>
    <script src="/javascripts/showPassword.js"></script>
</html>
