<!DOCTYPE html>
<html lang = "es">
    <%-include('partes/head') %>
    <%-include('partes/header') %>
    <script src="/javascripts/switchViews.js"></script>
    <body class="<%= fontSizeClass %>">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Gestión de Eventos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/users/logout">Cerrar Sesión</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      
        <div class="container my-5">
          <h1 class="text-center">Perfil de Usuario</h1>
          <div class="row">
            <!-- Panel de Información del Usuario -->
            <div id ="userInfo" class="col-md-6">
              <h3>Información Personal</h3>
              <form >
                <div class="mb-3">
                  <label for="nombre" class="form-label">Nombre Completo:</label>
                  <p><%= usuario.nombre %></p>
                  <!-- <input type="text" class="form-control" id="nombre" name="nombre" placeholder="<%= usuario.nombre %>" required> -->
                </div>
                <div class="mb-3">
                  <label for="correo" class="form-label">Correo Electrónico:</label>
                  <p><%= usuario.correo %></p>
                </div>
                <div class="mb-3">
                  <label for="telefono" class="form-label">Teléfono de Contacto:</label>
                  <p><%= usuario.telefono %></p>
                </div>
                <div class="mb-3">
                  <label for="facultad" class="form-label">Facultad:</label>
                  <p id="<%= usuario.idFacultad %>"><%= usuario.nombreFacultad %></p>
                </div>
                <div class="mb-3">
                  <label for="rol" class="form-label">Rol:</label>
                  <p><%= usuario.es_organizador == 1 ? 'Organizador' : 'Asistente' %></p>
                </div>
                <button id="editProfile" class="btn btn-primary">Editar</button>
                <button id="saveProfile" type="submit" class="btn btn-primary d-none">Guardar Cambios</button>
              </form>
            </div>
      
            <!-- Historial de Eventos -->
            <div id="divEventos" class="col-md-6">
              <% if (usuario.es_organizador == 1){ %>

                <h3>Eventos Creados</h3>
                <div class="scrollable-panel h-100 bg-info" style="max-height: 300px; overflow-y: auto;">
                  <% if (eventos && eventos.length > 0) { %>
                      <ul class="list-group">
                          <% eventos.forEach(evento => { %>
                            <a id="clickEventPanel" href="<%= '/events/eventUserManager/' + evento.id %>">
                              <li class="list-group-item m-2 rounded">
                                <strong><%= evento.titulo %></strong> <br>
                                Fecha: <%= evento.fecha %> <br>
                                Ubicación: <%= evento.ubicacion %>
                              </li>
                            </a>
                          <% }) %>
                      </ul>
                  <% } else { %>
                      <p>No has creado ningún evento.</p>
                  <% } %>
                </div>

              <%}else{ %>

                <h3>Historial de Eventos Inscritos</h3>
                  <div class="scrollable-panel h-100 bg-info" style="max-height: 300px; overflow-y: auto;">
                    <% if (eventos && eventos.length > 0) { %>
                        <ul class="list-group ">
                            <% eventos.forEach(evento => { %>
                                <li class="list-group-item  m-2 rounded d-flex justify-content-between ">
                                  <div class="">

                                    <strong><%= evento.titulo %></strong> <br>
                                    Fecha: <%= evento.fecha %> <br>
                                    Ubicación: <%= evento.ubicacion %>
                                    <p class="<%= evento.esta_lista_espera === 0 ? 'd-none' : 'text-danger' %>">Estás en la lista de espera</p>
                                  </div>
                                  <div class="align-content-center">
                                    <button id="changeStateButton" class="desapuntarse" name = "<%=evento.id%>">Desapuntarse</button>
                                  </div>
                                </li>
                            <% }) %>
                        </ul>
                    <% } else { %>
                        <p>No estás inscrito en ningún evento.</p>
                    <% } %>
                  </div>

              <%}%>
            </div>
          </div>
        </div>
      
        
      </body>
      <script src="/javascripts/editProfile.js"></script>
      <script src="/javascripts/withdrawFromEvent.js"></script>
      </html>